/* media query small screens (gsm)*/
@media screen and (max-width: 767px) {
    .body_welcome, .body_home{
        background-position: 35% 0;
    }
    .body_hikes, .body_search, .body_editHike, .body_createHike{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/bg_mountain_mobile.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    .body_editProfile{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/bg_mountain_mobile_editProfile.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
    .divDesktop{
        display: none;
    }
    .divMobile{
        display: block;
    }
}

/* media query bigger screens (land scape gsm, tablet, laptop, ... */
@media only screen and (min-width: 768px) {
    .body_welcome, .body_home{
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center 80%;
    }
    .body_hikes, .body_search, .body_editHike, .body_createHike, .body_editProfile{
         -webkit-background-size: cover;
         background-size: cover;
        background-position: center 50%;
     }
    .divDesktop{
        display: block;
    }
    .divMobile{
        display: none;
    }
    .tableWidthBig{
        width: 20%;
    }
    .tableWidthSmall{
        width: 10%;
    }
    .btnBackCreate, .btnBackEditProfile{
        order: 2;
    }
    .btnCreateHike, .btnEditProfile{
        order: 1;
    }
}