body{
    width: 100vw;
    height: 100vh;
}
.body_welcome{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/bg_relax.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center 80%;
}
nav{
    background-color: #6680aa;
}
body #app nav .container a{
    color: #F7DFAD;
    /*color: #b3b5a3;*/
}
h1{
    color: #91BDA8;
}

.clickable-row{
    cursor:pointer;
}